<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.ShowDistanceAndAngle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowDistanceAndAngle</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>UpdateFeedURL</key>
	<string></string>
	<key>productPageURL</key>
	<string></string>
	<key>productReleaseNotes</key>
	<string>Glyphs 3 compatibility</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, by Mark Frömberg (@mark2mark), 2015</string>
	<key>NSPrincipalClass</key>
	<string>ShowDistanceAndAngle</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
